@model IList<BlogWeb.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Resumo</th>
                <th>Categoria</th>
                <th>Publicado?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Titulo</td>
                    <td>@p.Resumo</td>
                    <td>@p.Categoria</td>
                    <td>
                        @if (p.Publicado)
                        {
                            <span>@String.Format("{0:dd/MM/yyyy}", p.DataPublicacao)</span>
                        } else
                        {
                            <span>Não. @Html.ActionLink("Publicar", "Publicar", new { id = p.Id })</span>
                        }
                    </td>
                    <td>
                        <a href="/post/remover/@p.Id">Remover</a>
                        <a href="/post/detalhe/@p.Id">Alterar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
